 *{
     margin: 0;
     padding: 0;
 }

 .nav_container{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.header{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: space-around;
    margin-left: 20px;
    height: 40px;
    margin-top: auto;
    background-color: rgba(15, 11, 22, 0.192);
}

a{
    font-size: 20px;
    text-decoration: none;
    margin: 10px;  
}

.nav a:hover{
    box-shadow: 0 -6px 0 rgba(76, 119, 11, 0.671);
    padding: 25px 30px 20px 20px;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle_nav{
    position: absolute;
    width: 20px;
    height: 20%;
    z-index: 3;
    opacity: 0;
    /* margin-left: 100px; */
}
.hambuger{
    position: relative;
    display: none;
    background-color: rgb(26, 24, 24);
    width: 30px;
    height: 4px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    z-index: 2;
    /* margin: 440px; */
}

.hambuger::before, .hambuger::after{
    content: " ";
    position: absolute;
    height: 5px;
    right: 0;
    background-color: rgb(16, 17, 17);
    border-radius: 10px;
    transition: 0.4s;
}
.hambuger::before{
    top: -10px;
    width: 30px;
}

.hambuger::after{
    top: 10px;
    width: 30px;
}

.nav_container input:checked ~ .hambuger{
    background: transparent;
}

.nav_container input:checked ~ .hambuger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.nav_container input:checked ~ .hambuger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.nav_container input:checked ~ .nav{
    right: 0;
    display: flex;
}

.scroll{
    display: list-item;
    align-items: center;
    justify-content: center;
}
img{
    height: 250px;
    width: 100%;
    object-fit: contain;
    margin: 10px 20px;
    padding: 8px 9px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgb(95, 25, 25);
    border-radius: 5px;
    background: rgb(219, 219, 175);
}



@media screen and (max-width: 992px) {

    .hambuger, .toggle_nav{
        display: block;
    }

    .header{
        padding: 10px 20px;
        justify-content: flex-end;
    }

    .nav{
        justify-content: start;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 20px;
        overflow: hidden;
        background: rgb(32, 32, 53);
        width: 250px;
        height: 100%;
        padding-top: 55px;
    }

    a{
        padding: 30px;
        font-size: 20px;
        box-shadow: 0 1px 0 burlywood inset;
        color: aliceblue;
    }




}